table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  justify-content: center;
  display: inline-table;
  margin-top: 27px;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.App {
    text-align: center;
}

  .App {
    width: 50%;
    margin-left: 368px;
}
  
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

th {
    padding-right: 121px;
}

button.btn2.btn.btn-primary {
  margin-right: 83px;
}

button.btn1  {
    margin-right: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    text-decoration: none;
    border: none;
    padding: 4px;
    width: 47px;
    height: 32px;
}

button.btn2 {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    font-size: 14px;
    text-decoration: none;
    border: none;
    padding: 4px;
    width: 55px;
    height: 32px;
}

.userBtn {
  margin-left: -91vh;
  padding: 9px;
  background: green;
  color: white;
  border: none;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 60;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_inner {
  position: absolute;
  padding: 20px;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  width:33%;
  height: 70%;
}

.popupButtonClose {
  color: #3c8dd5;
  background: none;
  border: none;
  float: right;
  padding-top: 8px;
  padding-right: 10px;
  font-size: 16px;
  margin-top: 150px;
  /* margin-right: 50px; */
}

.popupButtonSave {
  color: white;
  background-color: #3c8dd5;
  float: right;
  border: none;
  padding: 8px;
  font-size: 16px;
}

input[placeholder="Enter author name" ] {
  /* height: 37%; */
  width: 86%;
  padding: 17px;
}

input[placeholder="Enter blog here" ] {
  /* height: 37%; */
  width: 86%;
  padding: 17px;
}

button.submit1 {
  margin-top: 35%;
  margin-left: 75%;
}

label {
  margin-right: 92%;
}

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .ReactModal__Content.ReactModal__Content--after-open {
    width: 37%;
    margin-left: 406px;
    height: 80%;
    background-color: black;
}

h1 {
  margin-left: 134px;
}

element.style {
  position: fixed;
  inset: 0px;
  background-color: rgb(0 0 0 / 25%);
}


  /* .table>:not(caption)>*>* {
    padding: .5rem .5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
} */

button.btn8.btn.btn-primary {
  margin-left: 400px;
  margin-top: -50px;
  margin-bottom: 19px;
}

button.btn9.btn.btn-primary {
  margin-left: 332px;
  margin-top: 92px;
}

button.btnuser.btn.btn-primary {
  margin-right: 577px;
}